body {
  background-color: lightblue;
  overflow: hidden;
}

#pwdgen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(154, 60, 20);
  line-height: 50px;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(199, 45, 54);
  animation: zoom 5s linear;
}

@keyframes zoom {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
